{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <h2>{{ article.title }}</h2>
  <h3>{{ article.content }}</h3>
  <p>작성일: {{ article.created_at }}</p>
  <p>수정일: {{ article.updated_at }}</p>
  <form action="{% url 'articles:edit' article.pk %}" method="POST">
  {% csrf_token %}
    <input type="submit" value="EDIT">
  </form>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  <a href="{% url 'articles:index' %}" method="GET">BACK</a>
{% endblock %}